 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1594px;
}

.u-section-1 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: 887px 28px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -23px 320px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 372px;
  height: 373px;
  margin: -579px auto 0 262px;
}

.u-section-1 .u-image-1 {
  width: 303px;
  height: 114px;
  margin: -387px auto 0 21px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 1184px;
  margin: -753px -34px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: -929px 542px 0 6px;
}

.u-section-1 .u-image-3 {
  width: 253px;
  height: 80px;
  margin: 91px auto 60px 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 292px;
    margin-right: 50px;
  }

  .u-section-1 .u-shape-2 {
    width: 228px;
    height: 228px;
    margin-top: 546px;
    margin-right: 196px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -373px;
    margin-left: 80px;
  }

  .u-section-1 .u-image-1 {
    width: 295px;
    margin-top: -641px;
    margin-left: 80px;
  }

  .u-section-1 .u-image-2 {
    width: 494px;
    height: 1025px;
    margin-top: -498px;
    margin-right: 36px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -1150px;
    margin-right: 488px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 255px;
    height: 72px;
    margin-top: 114px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-top: 216px;
    margin-right: 159px;
  }

  .u-section-1 .u-shape-2 {
    width: 193px;
    height: 193px;
    margin-top: 123px;
    margin-right: auto;
    margin-left: 167px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 522px;
    margin-left: 112px;
  }

  .u-section-1 .u-image-1 {
    width: 298px;
    margin-top: -1026px;
    margin-left: -22px;
  }

  .u-section-1 .u-image-2 {
    height: 1026px;
    margin-top: -123px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1490px;
    margin-right: 255px;
  }

  .u-section-1 .u-image-3 {
    width: 254px;
    height: 69px;
    margin-top: 175px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 104px;
    height: 104px;
    margin-top: 281px;
    margin-right: 323px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 8px;
    margin-left: 340px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 719px;
    margin-right: -131px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 61px;
    margin-top: -1097px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-2 {
    height: 869px;
    width: 420px;
    margin-top: -257px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1232px;
    margin-right: 106px;
    margin-left: -28px;
  }

  .u-section-1 .u-image-3 {
    width: 187px;
    height: 53px;
    margin-top: 261px;
    margin-left: -39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-1 .u-shape-1 {
    width: 81px;
    height: 81px;
    margin-top: 431px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-1 .u-shape-2 {
    width: 147px;
    height: 147px;
    margin-top: 339px;
    margin-right: -50px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -927px;
    margin-right: -74px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 114px;
    margin-top: 405px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    height: 436px;
    width: 207px;
    margin-top: -939px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 65px;
    margin-right: 0;
    margin-left: 40px;
  }

  .u-section-1 .u-image-3 {
    width: 273px;
    height: 73px;
    margin-top: 80px;
    margin-left: auto;
  }
}