 .u-section-1 {
  background-image: none;
  min-height: 825px;
}

.u-section-1 .u-image-1 {
  height: 634px;
  margin-top: 191px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 363px;
  height: 102px;
  margin: -361px auto 0 calc(((100% - 1140px) / 2) + 389px);
}

.u-section-1 .u-image-3 {
  width: 363px;
  height: 90px;
  margin: -212px auto 60px calc(((100% - 1140px) / 2) + 389px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 827px;
    margin-top: -1px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -294px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -221px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-top: -293px;
    margin-left: calc(((100% - 1140px) / 2) + 389px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 389px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1050px;
  }

  .u-section-1 .u-image-1 {
    height: 463px;
    margin-top: 594px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -526px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -212px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 744px;
  }

  .u-section-1 .u-image-1 {
    height: 261px;
    margin-top: 483px;
  }

  .u-section-1 .u-image-2 {
    width: 200px;
    height: 60px;
    margin-top: -321px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 203px;
    height: 60px;
    margin-top: -60px;
    margin-left: 0;
  }
}